In [ ]:
import pandas as pd
import numpy as np

In [ ]:
obj=pd.Series([8,5,9,1],index=['a','b','c','d'])

In [ ]:
obj*3

In [ ]:
obj1=pd.Series(range(0,5),index=['q','e','f','h','j'])

In [ ]:
obj1.reindex(index=['e','f','h','j','q'])

In [ ]:
obj2=obj1.drop('q')

In [ ]:
obj1

In [ ]:
ob=pd.DataFrame(obj1)

In [ ]:
arr=np.arange(12).reshape((3,4))

In [ ]:
arr[0]

In [ ]:
columns = ['name', 'age', 'gender', 'job']
user1 = pd.DataFrame([['alice', 19, "F", "student"],['john', 26, "M", "student"]],columns=columns)
user2 = pd.DataFrame([['eric', 22, "M", "student"],['paul', 58, "F", "manager"]],columns=columns)

In [ ]:
user3 = pd.DataFrame(dict(name=['peter', 'julie'],
age=[33, 44], gender=['M', 'F'],
job=['engineer', 'scientist']))
user3

In [ ]:
# Combining dataframes
user1.append(user2)
users=pd.concat([user1,user2,user3])
users

In [ ]:
user4 = pd.DataFrame(dict(name=['alice', 'john', 'eric', 'julie'],height=[165, 180, 175, 171]))
print(user4)
merge_users=pd.merge(users,user4,on='name',how='outer')
merge_users

In [ ]:
#Unpivots- a DataFrame from wide format to long (stacked) format,
staked = pd.melt(users, id_vars="name", var_name="variable", value_name="value")
print(staked)

In [ ]:
#“pivots” a DataFrame from long (stacked) format to wide format,
print(staked.pivot(index='name', columns='variable', values='value'))

In [ ]:
users 
type(users) # DataFrame
users.head() # print the first 5 rows
users.tail() # print the last 5 rows
users.index # "the index" (aka "the labels")
users.columns # column names (which is "an index")
users.dtypes # data types of each column
users.shape # number of rows and columns
users.values # underlying numpy array
users.info() # concise summary

In [ ]:
# descriptive statistics
df=users.copy()
print(df.describe(include='all'))
print(df.describe(include=['object']))

In [ ]:
df.sort_values(by='age', ascending=False) # use descending order instead
df.sort_values(by=['job', 'age']) # sort by multiple columns

In [ ]:
print(df.groupby("job").describe(include='all'))

In [ ]:
print(df.groupby("job").mean())

In [ ]:
#Groupby in a loop
for grp, data in df.groupby("job"):
    print(grp, data)

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],columns=['d', 'a', 'b', 'c'])
frame

In [ ]:
frame.sort_index(axis=1,ascending=False)

In [ ]:
d=np.random.seed(123)

In [ ]:
data = pd.DataFrame(np.random.randn(1000, 4))
data

In [ ]:
data.describe()

In [ ]:
data[2][np.abs(data[2])>3]

In [ ]:
data[(np.abs(data)>3).any(1)]

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
f= lambda x : '%.1f' % x

In [ ]:
frame.applymap(f) #formatted string from each floating point value in frame

In [ ]:
f=lambda x: x.max() - x.min()

In [ ]:
frame.apply(f) #applies a function on 1D arrays to each column or row

In [ ]:
frame.idxmax()
# idxmin,idxmax
# index value where the minimum or maximum values are attained

In [ ]:
frame.idxmax()

In [ ]:
frame.sum(axis=1,skipna=False)
#axis - Axis to reduce over. 0 for DataFrame’s rows and 1 for columns.
#skipna - Exclude missing values, True by default.
#level - Reduce grouped by level if the axis is hierarchically-indexed (MultiIndex).

#### Descriptive and summary statistics
* count -  Number of non-NA values
* describe -  Compute set of summary statistics for Series or each DataFrame column
* min, max - Compute minimum and maximum values
* argmin, argmax - Compute index locations (integers) at which minimum or maximum value obtained, respectively
* idxmin, idxmax - Compute index values at which minimum or maximum value obtained, respectively
* quantile - Compute sample quantile ranging from 0 to 1
* sum - Sum of values
* mean - Mean of values
* median - Arithmetic median (50% quantile) of values
* mad - Mean absolute deviation from mean value
* var - Sample variance of values
* std - Sample standard deviation of values
* skew - Sample skewness (3rd moment) of values
* kurt - Sample kurtosis (4th moment) of values
* cumsum - Cumulative sum of values
* cummin, cummax - Cumulative minimum or maximum of values, respectively
* cumprod - Cumulative product of values
* diff - Compute 1st arithmetic difference (useful for time series)
* pct_change - Compute percent changes

In [ ]:
frame.corr() # correlation

In [ ]:
frame.cov() # covariance

In [ ]:
frame.corrwith(frame) 
#corrwith method computes pairwise correlations between a DataFrame’s columns or rows with another Series or DataFrame.

In [ ]:
frame

In [ ]:
frame.b.unique()

#### Unique, value counts, and binning methods
* isin - Compute boolean array indicating whether each Series value is contained in the passed sequence of values.
* unique - Compute array of unique values in a Series, returned in the order observed.
* value_counts - Return a Series containing unique values as its index and frequencies as its values, ordered count in descending order.

#### NA handling methods
* dropna - Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate.
* fillna - Fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill'.
* isnull - Return like-type object containing boolean values indicating which values are missing / NA.
* notnull - Negation of isnull.

In [ ]:
data1 = pd.DataFrame([[1., 6.5, 3.], [1., pd.NA, pd.NA], [pd.NA, pd.NA, pd.NA], [pd.NA, 6.5, 3.]])

In [ ]:
data1

In [ ]:
data2=data1.dropna(how='all',axis=0,thresh=1) # how = all : all rows containing na
# thresh = keep only rows containing a certain number of observations

In [ ]:
data2

#### fillna function arguments
1. value - Scalar value or dict-like object to use to fill missing values
2. method - Interpolation, by default 'ffill' if function called with no other arguments
3. axis - Axis to fill on, default axis=0
4. inplace - Modify the calling object without producing a copy
5. limit - For forward and backward filling, maximum number of consecutive periods to fill

In [ ]:
data1.fillna(0)

In [ ]:
# fillna returns new object instead inplace=True
data1.fillna({0:1,1:10,3:-1}) # filling each column separately with different value from dict

In [ ]:
data1

In [ ]:
data1.fillna(method='ffill', limit=1)

In [99]:
data1.fillna(data1.median())

     0    1    2
0  1.0  6.5  3.0
1  1.0  6.5  3.0
2  1.0  6.5  3.0
3  1.0  6.5  3.0